header {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: var(--color-3);
}

.avatar-image {
    width: 175px;
    height: 175px;

    border: 2px var(--color-2) solid;
    border-radius: 100%;

    transition: 0.3s;

    background: url("../../img/avatars/avatar_1.jpg") center;
    background-size: cover;
}

.person {
    display: flex;
    align-items: center;
}

.person-name-pos {
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
}

.person-name-pos__person-name_size-big {
    font-size: 155%;
}

.person-name-pos__person-name-padding,
.person-name-pos__person-position-padding {
    padding: 4px 30px 0 10px;
}

.avatar-image:hover {
    border-radius: unset;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu__menu-items {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__menu-item {
    height: 30%;
    text-align: center;
    line-height: 0;
}

.menu__menu-link {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 10px;

    white-space: nowrap;
    color: var(--color-5);
    font-size: 120%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.menu__menu-link:hover {
    color: var(--color-2);
}

.menu__menu-item:hover::before {
    content: '\1F783';
}